<!DOCTYPE html>
<html>
  <head>
    <title>Simple CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Simple CRM</strong>
        </a>
      </div>
      
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "All Customers", root_path, class: "navbar-item" %>
          <%= link_to "Alphabetized", customers_alphabetized_path, class: "navbar-item" %>
          <%= link_to "Missing Email", customers_missing_email_path, class: "navbar-item" %>
          <%= link_to "Admin", admin_root_path, class: "navbar-item" %>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>